<HTML>
	<HEAD>
		<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
		<TITLE></TITLE>
		<style>
			body {
			  background-color: #fcfaf2;
			}
			</style>
	</HEAD>
	<BODY LANG="en-US" LINK="#0000ff" DIR="LTR">
	<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>CONSENT
	TO PROCESSING OF PERSONAL DATA</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Based
	on your consent provided at the end of this document (the “Consent”),
	PQube Business Solutions Private Limited (“</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>PQube</B></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">”)
	will process (e.g. receive, collect, use, store, and share) your
	personal data in accordance with this Consent and applicable law in
	relation to this Vicflix (the “</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>App</B></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">”).</FONT></FONT></P><br>
	<OL>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>WHO
		ARE WE?</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	company responsible for processing your personal data is:</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><A NAME="_GoBack"></A><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">A)
	PQube Business Solutions Private Limited, #39, Sri Sai Plaza, 7</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">th</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">
	Cross, 24</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">th</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">
	Main, JP Nagar 2</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">nd
	</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Phase,
	Bengaluru – 560078, India. You can always contact PQube at
	<A HREF="mailto:privacy@pqube.in">privacy@pqube.in</A> or +91 97312
	49009 with questions or concerns about how we process your personal
	data.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB">B)
	Novo Nordisk India Private Limited (“</SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB"><B>Novo
	Nordisk</B></SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB">”),
	</SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Plot
	No</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">.
	32 47-50, EPIP Area WhiteField Bengaluru - 560 066, India</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB">
	</SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">will
	be the license owner of this App.; but it will not process (e.g.
	receive, collect, use, store, and share) any personal data relating
	to this App. You can always contact Novo Nordisk India Private
	Limited at <A HREF="mailto:privacy-india@novonordisk.com">privacy-india@novonordisk.com</A>
	or +91 80 4030 3200 with questions or concerns about this app.</FONT></FONT></P>
	<OL START=2>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>HOW
		DO WE COLLECT AND SHARE YOUR PERSONAL DATA?</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Vicflix
	is a Diabetes awareness and patient support app. The App is meant to
	cater to all diabetes patients. </FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	personal data will be saved on your device and backed-up on servers
	located in USA. The storage of your information is handled via
	externally hosted servers managed by third party providers. These
	providers may incidentally have access to personal data to ensure
	up-time, troubleshooting and ensure continuous improvement. Personal
	data will be analyzed by third party providers in aggregated and
	anonymous form to contribute to research and drive improved patient
	outcomes. </FONT></FONT>
	</P>
	<OL START=3>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>WHAT
		PERSONAL DATA DO WE PROCESS ABOUT YOU?</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">For
	the purpose described above in Section 3, we may process the
	following types of personal data:</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">User
	profile: Age, Email ID</FONT></FONT></P>
	<OL START=4>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>HOW
		LONG WILL WE KEEP YOUR PERSONAL DATA?</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">We
	will keep your personal data for the period of time relevant to meet
	the purpose of processing and to comply with local requirements and
	will delete it when no longer needed or when you ask us to delete it.
	</FONT></FONT>
	</P>
	<OL START=5>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>WHAT
		ARE YOUR RIGHTS and RESPONSIBILITIES?</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">You
	can obtain further information on the personal data which we store
	and processes about you and to the extent you have such right under
	applicable law, you can get a copy of your personal data in a
	structured, commonly used and machine-readable format. You may object
	to your personal data being processed or request that your personal
	data are rectified. Furthermore, you may withdraw your consent to our
	processing of your personal data, at any time by using the withdrawal
	functionality under this App.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">If
	you wish to use one or more of your rights or have any complaints
	about our processing of your personal data, please contact us using
	the contact information under Section 1. </FONT></FONT>
	</P>
	<OL START=6>
		<LI><P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; line-height: 106%">
		<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>YOUR
		CONSENT</B></FONT></FONT></P>
	</OL>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Yes,
	I have read the above and hereby provide my consent to the processing
	of the said personal data.</FONT></FONT></P>
	<P STYLE="margin-bottom: 0.11in"><BR>
	</P>
	<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>TERMS
	AND CONDITIONS OF USE</B></FONT></FONT></P><br>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>1.
	GENERAL</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">VICFLIX
	App (“</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>App</B></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">”)
	is provided to you by PQube Business Solutions Private Limited
	(“</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>PQube</B></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">”)
	and Novo Nordisk India Private Limited (“</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Novo
	Nordisk</B></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">”)
	subject to the following terms and conditions of use. By accepting
	these terms and conditions on the App, you are agreeing to what is
	outlined in this document. Please read carefully.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>2.
	CONDITIONS OF USE</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffffff">The
	App provides </SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">patient
	support and raises awareness</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffffff">
	about diabetes in patients with the condition. </SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">This
	App is intended for use solely by diabetes patients who reside in
	India and have been given an activation code by a healthcare
	professional</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="background: #ffffff">.
	</SPAN></FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">You
	must be 18 years of age or older to accept these terms and conditions
	and use the App.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	App is not intended to replace advice or decisions given or made by
	your healthcare provider. The App provides informational support and
	is intended for creating awareness regarding Diabetes.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">PQube
	and Novo Nordisk are entitled to make changes or updates to the App
	or remove it from Apple App Store or Google Play Store at any time.
	Neither PQube nor Novo Nordisk are responsible for compliance with
	your Mobile Provider or any charges they may impose related to
	network connection services while using the App.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Distributing,
	copying or changing the App, either yourself or by a third party on
	your behalf, in any circumstances, is prohibited.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>3.
	COPYRIGHT AND LICENSES</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">All
	content and software used within the App are owned by Novo Nordisk,
	PQube or by a third party. Use of such third-party or PQube software
	is licensed or granted to Novo Nordisk by the third party or PQube. </FONT></FONT>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>4.
	AVAILABILITY AND SYSTEM REQUIREMENTS</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	App is designed for smartphones that use iOS (Apple) and Android
	operating systems. The App is available to download for free from the
	Apple App Store and Google Play Store, only in countries where the
	app is made available.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">A
	secure internet or mobile network connection is required to download
	the App to a smartphone and in some cases to access or use certain
	features and content. PQube and Novo Nordisk are not responsible for
	any issues related to using the app without an internet or mobile
	network connection.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">PQube
	and Novo Nordisk are not responsible for unavailability or
	malfunctioning of the App and may remove the App from the Apple App
	Store and Google Play Store at any time. PQube and Novo Nordisk are
	not obligated to provide user support or application maintenance.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	App requires at a minimum iOS version 11 or Android version 5 to
	support its design. The software version requirements may change to
	support new future designs or developments within the App. The App
	does not support native smartphone accessibility settings including
	and not limited to vision, interaction, hearing, media and learning.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>5.
	UPDATES</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">PQube
	and Novo Nordisk may update the App at any time and you are
	responsible for checking for version updates from the Apple App Store
	or Google Play Store and to download such new versions as soon as
	possible. PQube and Novo Nordisk are not responsible for your use of
	old versions of the App.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>6.
	INFORMATION PURPOSES</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	App provides selected information on Diabetes. Such information is
	not intended nor should it be used as medical advice. Such
	information is not a substitute for the advice of a health care
	professional. If you have any question regarding your health, you
	should consult your general practitioner or other qualified health
	care provider.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>7.
	INFORMATION PROVIDED ”AS IS”</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	information in this app is provided &quot;as is&quot; and PQube and
	Novo Nordisk make no representations or warranties, expressed or
	implied, including but not limited to any implied warranties of
	merchantability, fitness for a particular purpose or
	non-infringement. PQube and Novo Nordisk make no representations or
	warranties of any kind as to the completeness, accuracy, timeliness,
	availability, functionality and compliance with applicable laws. By
	using this App you accept the risk that the information may be
	incomplete or inaccurate or may not meet your needs or requirements.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>8.
	DISCLAIMED LIABILITY</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Neither
	PQube and Novo Nordisk nor our content providers shall be liable for
	any damages or injury arising out of your access to, or inability to
	access, this App or from your reliance on any information provided
	herein. PQube and Novo Nordisk disclaim any and all liability for
	direct, indirect, incidental, consequential, punitive, and special or
	other damages, lost opportunities, lost profit or any other loss or
	damages of any kind. This limitation includes damages or any viruses,
	which may affect your computer equipment.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>9.
	ALTERATIONS</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">PQube
	and Novo Nordisk reserve their right to alter, modify, substitute or
	delete any content of or may restrict access to or discontinue
	distribution of this App at any time and at their own discretion.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>10.
	COPYRIGHT AND USE OF CONTENT</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">The
	content of this App is the property of Novo Nordisk and is protected
	by copyright laws. The trademarks, service marks, trade names, logos
	and products displayed on this App are protected, and no use of any
	of these may be made without the prior written consent of Novo
	Nordisk.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">You
	are welcome to download the content of this App, however, only for
	your personal and non-commercial use. No modification or further
	reproduction of the contents is permitted. The content may otherwise
	not be copied or used in any other manner.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>11.
	USE OF QUESTIONS AND COMMENTS</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Any
	questions, comments, suggestions or any other communications,
	including any ideas, inventions, concepts, techniques or know how you
	may forward to this App or otherwise to Novo Nordisk or PQube,
	electronically or by any other means, are on a non-confidential basis
	and will become the property of Novo Nordisk, which Novo Nordisk
	without restriction may use in any fashion and for any purposes
	whatsoever including developing, manufacturing and/or marketing goods
	or services.</FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>12.
	CHANGES TO TERMS OF USE</B></FONT></FONT></P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Novo
	Nordisk and PQube will keep the terms of use including the personal
	data policy updated. We reserve the right to change this policy at
	any time. We will inform you of any changes that we make through the
	App.</FONT></FONT></P>
	<P STYLE="margin-bottom: 0.11in"><BR>
	</P>
	<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in; page-break-before: always">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>13.
	NOVO NORDISK AND PQUBE CONTACT DETAILS</B></FONT></FONT></P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>NOVO
	NORDISK INDIA PRIVATE LIMITED</B></FONT></FONT></P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Plot
	No</FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">.
	32 47-50, </FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">EPIP
	Area WhiteField </FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Bengaluru
	- 560 066, India</FONT></FONT></P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB">Phone:
	+91 80 4030 3200</SPAN></FONT></FONT></P>
	<P STYLE="margin-left: 0.25in; text-indent: -0.25in; margin-bottom: 0.11in">
	<BR>
	</P>
	<P STYLE="margin-bottom: 0.11in"><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><B>PQUBE
	BUSINESS SOLUTIONS PRIVATE LIMITED</B></FONT></FONT></P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">#39,
	Sri Sai Plaza, </FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">7</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">th</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">
	Cross, 24</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">th</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">
	Main, </FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">JP
	Nagar 2</FONT></FONT><SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">nd
	</FONT></FONT></SUP><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Phase,
	</FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">Bengaluru
	– 560078, Karnataka </FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">
	</FONT></FONT>
	</P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN LANG="en-GB">Phone:	
	+91 </SPAN></FONT></FONT><FONT FACE="ROBOTO Regular"><FONT SIZE=2 STYLE="font-size: 9pt">97312
	49009</FONT></FONT></P>
	<P LANG="en-GB" STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<BR><BR>
	</P>
	<P STYLE="margin-bottom: 0.11in"><BR><BR>
	</P>
	<P STYLE="margin-left: 0.2in; text-indent: -0.2in; margin-bottom: 0.11in">
	<BR><BR>
	</P>
	</BODY>
	</HTML>